@using RealEstateDapperUI.Dtos.AmenityDtos
@model List<ResultGetAmenitiesByProductIdDto>

<div class="single-bg-white">
    <h3 class="post-content-title mb-4">Kolaylıklar</h3>
    <ul class="details-list">
        @foreach(var item in Model)
        {
            <li><strong>@item.AmenityTitle</strong></li>
        }
    </ul>
</div>