<nav class="navbar bg-light navbar-light">
    <a href="index.html" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Real Estate</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
            <img class="rounded-circle" src="@ViewBag.image" alt="" style="width: 40px; height: 40px;">
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
        </div>
        <div class="ms-3">
            <h6 class="mb-0">@ViewBag.name</h6>
            <span>Admin</span>
        </div>
    </div>
    <div class="navbar-nav w-100">
        <a href="/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
        <a href="/Category/Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Kategoriler</a>
        <a href="/Employee/Index" class="nav-item nav-link"><i class="fa fa-address-book me-2"></i>Personeller</a>
        <a href="/Product/Index" class="nav-item nav-link"><i class="fa fa-archive me-2"></i>İlanlar</a>
        <a href="/Statistics/Index" class="nav-item nav-link"><i class="fa fa-chart-line me-2"></i>İstatistikler</a>
        <a href="/AboutDetail/Index" class="nav-item nav-link"><i class="fa fa-user me-2"></i>Biz Kimiz</a>
        <a href="/AboutServices/Index" class="nav-item nav-link"><i class="fa fa-handshake me-2"></i>Hizmetler</a>
        <a href="/PopularLocation/Index" class="nav-item nav-link"><i class="fa fa-map-marker me-2"></i>Yerler</a>
        <a href="/AdminMessage/Index" class="nav-item nav-link"><i class="fa fa-envelope-open"></i> Gelen Mesajlar</a>
        <a href="/Default/Index" class="nav-item nav-link"><i class="fa fa-location-arrow"></i> Siteye Git</a>
        <a href="/Setting/Index" class="nav-item nav-link"><i class="fa fa-cog"></i> Ayarlar</a>
        <a href="/Login/LogOut" class="nav-item nav-link"><i class="fa fa-arrow-circle-left"></i> Çıkış Yap</a>
    </div>
</nav>