@model RealEstateDapperUI.Dtos.EmployeeDtos.ResultEmployeeWithAppUserDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1>Profil Ayarları</h1>

<div class="mb-3">
    <label for="UserId" class="form-label">Id</label>
    <input type="text" class="form-control" asp-for="UserId"
        aria-describedby="UserId" readonly>
</div>

<div class="mb-3">
    <label for="Name" class="form-label">Adınız</label>
    <input type="text" class="form-control" asp-for="Name"
        aria-describedby="Name" readonly>
</div>

<div class="mb-3">
    <label for="Title" class="form-label">Unvanınız</label>
    <input type="text" class="form-control" asp-for="Title"
        aria-describedby="Title" readonly>
</div>

<div class="mb-3">
    <label for="Mail" class="form-label">Mail Adresiniz</label>
    <input type="text" class="form-control" asp-for="Mail"
        aria-describedby="Mail" readonly>
</div>

<div class="mb-3">
    <label for="PhoneNumber" class="form-label">Telefon</label>
    <input type="text" class="form-control" asp-for="PhoneNumber"
        aria-describedby="PhoneNumber" readonly>
</div>

<div class="mb-3">
    <label for="ImageUrl" class="form-label">Resim URL</label>
    <input type="text" class="form-control" asp-for="ImageUrl"
        aria-describedby="ImageUrl" readonly>
</div>

<div class="mb-3">
    <label for="Status" class="form-label">Hesabınızın Durumu</label>
    <input type="text" class="form-control" asp-for="Status"
        aria-describedby="Status" readonly>
</div>

<div class="mb-3">
    <label for="UserName" class="form-label">Kullanıcı Adınız</label>
    <input type="text" class="form-control" asp-for="UserName"
        aria-describedby="UserName" readonly>
</div>

<div class="mb-3">
    <label for="Password" class="form-label">Şifreniz</label>
    <input type="password" class="form-control" asp-for="Password"
        aria-describedby="Password" readonly>
</div>

<div class="mb-3">
    <label for="RoleName" class="form-label">Rolünüz</label>
    <input type="text" class="form-control" value="@ViewBag.RoleName" asp-for="Password"
        aria-describedby="Password" readonly>
</div>
<a href="/Dashboard/Index" class="btn btn-primary">Anasayfaya Geri Dön</a>