@using RealEstateDapperUI.Dtos.EstateAgentChartDtos
@model List<ResultEstateAgentChartDto>

<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

    <canvas id="myChart" style="width:100%;max-width:500px"></canvas>


    @{
        var xValues = new List<string>();
        var yValues = new List<int>();

        foreach(var item in Model)
        {
            xValues.Add(item.City);
            yValues.Add(item.CityCount);
        }

        yValues.Add(0);

        <script>

            const xValues = @Html.Raw(Json.Serialize(xValues));
            const yValues = @Html.Raw(Json.Serialize(yValues));
            const barColors = ["red", "green","blue","orange","brown"];

            new Chart("myChart", {
                type: "bar",
                data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
                },
                options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Şehir - İlan İstatistiği"
                }
                }
            });
        </script>

    }


</body>
</html>
