
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    @await Component.InvokeAsync("_AdminHeaderComponentPartial")

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">

            @await Component.InvokeAsync("_AdminSpinnerComponentPartial")

        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">

            @await Component.InvokeAsync("_EstateAgentSidebarComponentPartial")

        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            @await Component.InvokeAsync("_AdminNavbarComponentPartial")

            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                @RenderBody()
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->

            @await Component.InvokeAsync("_AdminFooterComponentPartial")

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/chart/chart.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/dashmin-1.0.0/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/dashmin-1.0.0/js/main.js"></script>
</body>

</html>