@using RealEstateDapperUI.Dtos.BottomGridDtos
@model CreateBottomGridDto

@{
    ViewData["Title"] = "CreateBottomGridElement";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1>Alt Grid Elementi Ekle</h1>

<form method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">Başlık</label>
        <input type="text" class="form-control" asp-for="Title"
            aria-describedby="Title">
    </div>

    <div class="mb-3">
        <label for="Icon" class="form-label">İkon</label>
        <input type="text" class="form-control" asp-for="Icon"
            aria-describedby="Icon">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Açıklama</label>
        <textarea rows="5" asp-for="Description" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Kaydet</button>
</form>