<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        
        @await Component.InvokeAsync("_DashboardWidgetsMessageComponentPartial")

        @await Component.InvokeAsync("_DashboardWidgetsToDoListComponentPartial")
    </div>
</div>