@model RealEstateDapperUI.Dtos.CategoryDtos.UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h1>Kategori Güncelleme</h1>

<form method="post">
    <div class="mb-3">
        <label for="CategoryId" class="form-label">Kategori Id</label>
        <input type="text" class="form-control" asp-for="CategoryId"
            aria-describedby="CategoryId" readonly>
    </div>
    <div class="mb-3">
        <label for="CategoryName" class="form-label">Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName"
            aria-describedby="CategoryName">
    </div>
    <div class="mb-3">
        <label for="CategoryStatus" class="form-label">Kategori Durumu</label>
        <input type="text" class="form-control" asp-for="CategoryStatus"
            aria-describedby="CategoryStatus">
    </div>
    <button class="btn btn-primary">Kategoriyi Kaydet</button>
</form>


